body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f8;
    color: #000000;
}

header {
    background-color: #294477;
    color: white;
    padding: 15px;
    text-align: center;
    height: 100px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.medicine-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

.medicine {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 200px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.medicine img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.medicine h3 {
    margin: 10px 0;
    color: #000000;
}

button {
    background-color: #000000;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #005bb5;
}

.cart {
    margin: 20px;
    padding: 20px;
    background-color: #294477;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cart ul {
    list-style-type: none;
    padding: 0;
}

.cart ul li {
    margin: 10px 0;
}

#total-price {
    font-weight: bold;
    margin-top: 15px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
